.schedule {
  margin-bottom: $component-margin-bottom;
}

.schedule__title {
  @include section-title();
}

// schedule-header
.schedule-header {
  background-color: $blue-lighter;
  padding: spacing(2);

  @include media(sm) {
    display: flex;
    align-items: center;
  }
}

.schedule-header__title {
  font-size: $h3-font-size;

  @include media(sm) {
    width: 30%;
  }
}

.schedule-header__text {
  font-weight: $font-weight-semibold;
  font-family: $font-family-serif;
  font-size: $h3-font-size;
  line-height: lineheight('heading');
  // margin-bottom: $h3-margin-bottom;
}

// schedule-item
.schedule-item {
  padding-top: spacing(4);
  padding-left: spacing(2);
  padding-right: spacing(2);
  padding-bottom: spacing(4);

  & + & {
    border-top: 1px solid $border-color;
  }

  @include media(sm) {
    display: flex;
  }
}

.schedule-item__details {
  display: inline-block;
  margin-bottom: spacing(2);

  @include media(sm) {
    width: 30%;
    padding-right: spacing(3);
  }
}

.schedule-item__time {
  display: block;
  margin-bottom: spacing(2);
  font-size: typescale(3);
}

.schedule-item__local {
  font-size: typescale(3);
}

.schedule-item__body {
  @include media(sm) {
    width: 70%;
  }
}

.schedule-item__title {
  font-size: $h4-font-size;
  font-weight: $font-weight-semibold;
  margin-bottom: $h4-margin-bottom;
}

.schedule-item__name {
  font-size: typescale(4);
}

.schedule-item__job {
  font-size: typescale(3);
  margin-bottom: spacing(3);
}

.schedule-item__body {
  p {
    font-size: typescale(3);
    margin-bottom: spacing(2);
  }
}
