<div class="schedule">
  <h3 class="schedule__title">Preview days</h3>
  <div class="schedule-header">
    <h2 class="schedule-header__title">Day 1</h2>
    <p class="schedule-header__text">Arrival Day</p>
  </div>

  <div class="schedule-item">
    <div class="schedule-item__details">
      <time class="schedule-item__time">8:00 AM&ndash;5:00 PM</time>
      <span class="schedule-item__local">152 College St</span>
    </div>
    <div class="schedule-item__body">
      <h3 class="schedule-item__title">Some event title</h3>
      <div class="typography">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur modi reiciendis quos voluptatum obcaecati aperiam! Perferendis consequatur voluptatibus, incidunt aut, officia et autem rem rerum nobis assumenda natus cupiditate.</p>
      </div>
    </div>
  </div>

  <div class="schedule-item">
    <div class="schedule-item__details">
      <time class="schedule-item__time">8:00 AM&ndash;5:00 PM</time>
      <span class="schedule-item__local">152 College St</span>
    </div>
    <div class="schedule-item__body">
      <p class="schedule-item__name">Aaron Smith</p>
      <p class="schedule-item__job">Director of Digital Services</p>
      <h3 class="schedule-item__title">Some event title</h3>
      <div class="typography">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aspernatur modi reiciendis quos voluptatum obcaecati aperiam! Perferendis consequatur voluptatibus, incidunt aut, officia et autem rem rerum nobis assumenda natus cupiditate.</p>
      </div>
    </div>
  </div>
</div>
