// TODO: change this so image dictates the width, not forcing a width

.media-object {
  display: flex;
}

.media-object__image {
  width: 25%;
  margin-right: spacing(4);
  min-width: 100px;
}

.media-object__body {
  width: 75%;
}

.media-object--right {
  .media-object__image {
    order: 2;
    margin-right: 0;
    margin-left: spacing(4);
  }
}
