.docs-colors {
  display: flex;
  flex-wrap: wrap;
}

.docs-colors__item {
  border: 1px solid $border-color;
  flex: 1 1 14rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.docs-colors__swatch {
  width: 100%;
  height: 200px;
  box-shadow: inset 0 0 1px rgba(black, 0.5);
  margin-bottom: 0.5rem;
}

.docs-colors__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.docs-colors__hex {
  font-size: 14px;
  font-weight: $font-weight-medium;
}

.docs-colors__name {
  font-size: 14px;
}
