.docs-icons {
  margin-bottom: 2rem;
}

.docs-icons__list {
  display: flex;
  flex-wrap: wrap;
}

.docs-icons__item {
  flex: 1 1 10rem;
  width: 10rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.docs-icons__card {
  height: 10rem;
  background-color: $gray-lighter;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs-icons__actions {
  background: $green;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
