.docs-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin: -0.5rem;
}

.docs-icons__list {
}

.docs-icons__item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4 - 1rem);
}

.docs-icons__actions {
}
