.docs-nav {
  margin-bottom: 2rem;
}

.docs-nav__item {
  margin-bottom: 1rem;
}

// subnav
.docs-subnav {
  margin-bottom: 1rem;
  display: none;

  &.is-active {
    display: block;
  }
}

.docs-subnav__button {
  color: $white;
  appearance: none;
  background: none;
  border: 0;
  font-size: 16px;
  font-weight: $font-weight-normal;
  cursor: pointer;
  outline: 0;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  text-transform: capitalize;

  &:hover {
    color: $green;
  }
}

.docs-subnav__button-text {
}

.docs-subnav__icon {
  font-size: 10px;
  float: right;
  line-height: 18px;
  top: 2px;
  position: relative;
  transition: transform 0.5s;

  .docs-subnav__button.is-active & {
    transform: rotate(-180deg);
  }
}

.docs-subnav__list {
  margin-left: 1rem;
}

.docs-subnav__item {
  // margin-bottom: 0.5rem;
}

.docs-subnav__link {
  font-size: 14px;
  color: $white;
  display: block;
  padding: 0.25rem;
}
