@import '../../../src/scss/middlebury';

.docs {
  @include media(md) {
    // display: grid;
    // grid-template-columns: 320px 1fr;
    // height: 100vh;
  }
}

$docs-header-width: 20rem;

// header
.docs-header {
  background-color: $brand-primary;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: $docs-header-width;
  height: 100%;
  overflow-y: scroll;
}

.docs-site-title {
  color: $white;
  font-size: 18px;
  font-family: $font-family-serif;
  font-weight: $font-weight-normal;
  text-transform: capitalize;
  margin-bottom: 2rem;
  display: block;
}

.docs-version {
  display: block;
  color: $white;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.docs-github-link {
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px solid $white;
  display: block;
  color: $white;
}

.docs-container {
  margin-left: $docs-header-width;
}

// main
.docs-main {
  padding: 3rem;
  min-height: 100vh;
}

// nav
.docs-nav {
  margin-bottom: 2rem;
}

.docs-nav__item {
  margin-bottom: 1rem;
}

// subnav
.docs-subnav {
  margin-bottom: 1rem;
  display: none;

  &.is-active {
    display: block;
  }
}

.docs-subnav__button {
  color: $white;
  appearance: none;
  background: none;
  border: 0;
  font-size: 16px;
  font-weight: $font-weight-normal;
  cursor: pointer;
  outline: 0;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  text-transform: capitalize;

  &:hover {
    color: $green;
  }
}

.docs-subnav__button-text {
}

.docs-subnav__icon {
  font-size: 10px;
  float: right;
  line-height: 18px;
  top: 2px;
  position: relative;
  transition: transform 0.5s;

  .docs-subnav__button.is-active & {
    transform: rotate(-180deg);
  }
}

.docs-subnav__list {
  margin-left: 1rem;
}

.docs-subnav__item {
  // margin-bottom: 0.5rem;
}

.docs-subnav__link {
  font-size: 14px;
  color: $white;
  display: block;
  padding: 0.25rem;
}

// page

.docs-page-header {
  margin-bottom: 3rem;
  max-width: 800px;
}

.docs-page-header__group {
  text-transform: capitalize;
  font-size: 14px;
  color: $gray;
  margin-bottom: 0.5rem;
}

.docs-page-header__title {
  font-size: 36px;
  margin-bottom: 0.5rem;
}

.docs-page-header__desc {
  font-size: 24px;
}

.docs-page-header__badge {
  font-size: 12px;
  background-color: $brand-secondary;
  font-weight: $font-weight-semibold;
  color: $white;
  padding: 0.5rem;
  line-height: 1;
  margin-top: 1rem;
  // border-radius: 8px;
  display: inline-block;
}

.docs-page__main {
  position: relative;
  @include media(xl) {
    display: flex;
  }
}

.docs-page__toc {
  margin-bottom: 3rem;

  @include media(xl) {
    position: sticky;
    padding-left: 6rem;
    order: 2;
    top: 0;
    right: 2rem;
    align-self: flex-start;
    padding-top: 1rem;
  }
}

.docs-page__content {
  @include media(xl) {
    width: 800px;
  }
}

// table of contents

.docs-toc {
  padding-left: 1rem;
  border-left: 1px solid $gray-light;

  ul {
    // list-style: decimal;

    li {
      margin-top: 0.5rem;
    }

    ul {
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  a {
    font-size: 14px;
  }
}

.docs-toc__title {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

// TODO: use .typography somehow without affecting live code previews

.docs-markdown {
  max-width: 50em;

  > *:first-child {
    margin-top: 0;
  }

  > h2,
  > h3,
  > h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  > p {
    margin-bottom: 1rem;
  }

  > ul,
  > ol {
    margin-left: 1rem;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  > ul {
    list-style: disc;
  }

  > ol {
    list-style: decimal;
  }

  > .gatsby-highlight {
    margin-bottom: 2rem;
  }
}

// code previews
.gatsby-code-preview {
  margin-bottom: 4rem;
  margin-top: 2rem;
  box-shadow: 1px 1px 4px rgba(black, 0.2);
  padding: 2rem;
}

.gatsby-highlight-live {
  margin-bottom: 1rem;
}

// icons
.docs-icons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin: -0.5rem;
}

.docs-icons__item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4 - 1rem);
}

// colors
.docs-colors {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.docs-colors__item {
  padding: 0.5rem;
  border: 1px solid $border-color;
  margin: 0.5rem;
  width: calc(100% / 3 - 1rem);
}

.docs-colors__swatch {
  width: 100%;
  height: 200px;
  box-shadow: inset 0 0 1px rgba(black, 0.5);
  margin-bottom: 0.5rem;
}

.docs-colors__hex {
  font-size: 14px;
  font-weight: $font-weight-medium;
}

.docs-colors__name {
  font-size: 14px;
}
