<nav class="link-list" aria-labelledby="midd-quick-links">
  <h2 class="link-list__title" id="midd-quick-links">Resources</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa commodi perspiciatis qui quasi necessitatibus, aspernatur molestias, dolor esse temporibus provident eligendi quos officia veniam expedita exercitationem! Corporis quod consequuntur quidem?</p>
  <ul class="link-list__list">
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some resource</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some resource</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some other resource</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some more resources</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some resource</a>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Another resource</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">A resource elsewhere</a>
      </div>
    </li>
    <li class="link-list__item">
      <div class="link-list__box">
        <a href="" class="link-list__link">Some resource</a>
        <p class="link-list__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </li>
  </ul>
</nav>
