$lead-font-size: 26px;
$lead-line-height: 38px;
$lead-margin-bottom: 2rem;

.lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  margin-bottom: $lead-margin-bottom;

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
