.video {
  // position: relative;
}

.video__content {
  position: relative;

  .video.has-video & {
    padding-top: percentage(9 / 16);
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.video__button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.video__body {
  padding: spacing(3) spacing(4);
  border: 1px solid $border-color;
}

.video__title {
  font-size: $h3-font-size;
  margin-bottom: $h3-margin-bottom;
}

.video__text {
}
