<!-- video iframe html should be escaped -->
<figure class="video js-video" data-video='<iframe src="https://player.vimeo.com/video/221201240" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'>
  <div class="video__content js-video-content">
    <a href="https://player.vimeo.com/video/221201240" class="js-video-link">
      <img
        src="https://i.vimeocdn.com/video/639399875_640.jpg"
        srcset="https://i.vimeocdn.com/video/639399875_640.jpg 640w, https://i.vimeocdn.com/video/639399875_200x150.jpg 200w, https://i.vimeocdn.com/video/639399875_100x75.jpg 100w"
        sizes="(max-width: 640px) 100vw, 640px"
        alt=""
      />
      <span class="button button--primary video__button">
        Play
        <span class="ml-3">
          <svg class="icon icon--sm">
            <use xlink:href="#icon-play" />
          </svg>
        </span>
      </span>
    </a>
  </div>
  <figcaption class="video__body">
    <h3 class="video__title">Practical Skills for Positive Change</h3>
    <p class="video__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra aliquet lacus a tristique. Suspendisse commodo pulvinar nisi vel laoreet. Pellentesque id hendrerit velit, vitae consectetur libero.</p>
    <div class="transcript js-transcript-1">
      <a href="#midd-video-1" class="transcript__button" data-toggle-target=".js-transcript-1" aria-label="Toggle transcript" aria-expanded="false">
          Transcript
        <svg class="transcript__icon icon icon--sm">
          <use xlink:href="#icon-chevron-down" />
        </svg>
      </a>
      <div class="transcript__body" id="midd-video-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus iure excepturi aspernatur dolores iste, dignissimos aut?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus iure excepturi aspernatur dolores iste, dignissimos aut?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus iure excepturi aspernatur dolores iste, dignissimos aut?</p>
      </div>
    </div>
  </figcaption>
</figure>
