.select {
  position: relative;
}

.select__input {
  display: block;
  width: 100%;
  border-style: solid;
  border-width: $input-border-width;
  border-color: $input-border-color;
  font-family: $font-family-base;
  font-size: $input-font-size;
  line-height: $input-line-height;
  background-color: $input-bg;
  color: $input-color;
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.select__icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
