.text-input {
  display: block;
  appearance: none;
  width: 100%;
  border: $input-border-width solid $input-border-color;
  font-family: $font-family-base;
  font-size: $input-font-size;
  line-height: $input-line-height;
  background-color: $input-bg;
  color: $input-color;
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;

  &:focus {
    background-color: $input-focus-bg;
  }
}
