<form action="">
  <div class="form-group">
    <label for="">Department <abbr title="Required">*</abbr></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Email <abbr title="Required">*</abbr></label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Phone number <abbr title="Required">*</abbr></label>
    <input type="tel" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Budget Code <abbr title="Required">*</abbr></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Budget range <abbr title="Required">*</abbr></label>
    <input type="text" class="form-control">
    <p class="form-text">How much do you have to spend on this project, i.e. budget amount or dollar range?
    </p>
  </div>

  <div class="form-group">
    <fieldset class="form-fieldset">
      <legend class="form-fieldset__legend">Request submitted for <abbr title="required">*</abbr></legend>
      <div class="form-check">
        <input type="radio" class="form-check__input">
        <label for="" class="form-check__label">Middlebury</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check__input">
        <label for="" class="form-check__label">MIIS</label>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset class="form-fieldset">
      <legend class="form-fieldset__legend">For projects submiited on behalf of MIIS <abbr title="required">*</abbr></legend>
      <p class="form-text">
        If you are submitting a project on behalf of MIIS, has your project been discussed with the Middlebury Institute Marketing Director prior to this submission?
      </p>

      <div class="form-check">
        <input type="radio" class="form-check__input">
        <label for="" class="form-check__label">Yes</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check__input">
        <label for="" class="form-check__label">No</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check__input">
        <label for="" class="form-check__label">N/A</label>
      </div>
    </fieldset>
  </div>


  <div class="form-group">
    <label for="">Preferred completion date <abbr title="Required">*</abbr></label>
    <textarea class="form-control"></textarea>
    <p class="form-text">Please explain what is driving your timeline and whether you have any flexibility. Depending on the project scope, production times vary.</p>
  </div>

</form>
