.type-caption {
  font-size: $caption-font-size;
  color: $caption-color;
}

.type-section-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $section-title-font-size;
  font-weight: $section-title-font-size;
}

@each $name, $size in $typescale {
  .f#{$name} {
    font-size: $size;
  }
}
