.breadcrumb {
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  &:not(:last-of-type) {
    margin-right: 5px;

    &:after {
      content: '/';
    }
  }

  display: none;

  @include media(md) {
    display: block;
  }

  &:last-child {
    display: block;
  }
}

.breadcrumb__link {
  font-size: 14px;
}
