<nav class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__item--previous">
      <a href="#" class="pagination__link">Previous</a>
    </li>
    <li class="pagination__item pagination__item--first"><a href="" class="pagination__link">1</a></li>
    <li class="pagination__item pagination__item--others"><span>&hellip;</span></li>
    <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
    <li class="pagination__item pagination__item--active"><a href="" class="pagination__link pagination__link--active">4</a></li>
    <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
    <li class="pagination__item pagination__item--others"><span>&hellip;</span></li>
    <li class="pagination__item pagination__item--last"><a href="" class="pagination__link">21</a></li>
    <li class="pagination__item pagination__item--next">
      <a href="#" class="pagination__link">Next</a>
    </li>
  </ul>
</nav>
