////
/// Breakpoints
////

$screen-sm: 580px;
$screen-md: 960px;
$screen-lg: 1200px;
$screen-xl: 1440px; // TODO: Do we need xl? There's no col-xl-* or media(xl) usage

////
/// Grid configuration
////

$grid-columns: 12;
$container-max-width: 1440px;

$grid-gutter-width: 32px; // TODO: remove this since we have responsive gutters
$grid-gutter-width-lg: 32px; // TODO: remove this since we have responsive gutters

$grid-gutter-widths: (
  xs: $grid-gutter-width,
  lg: $grid-gutter-width-lg
);

$grid-breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
);

////
/// Spacing
////

$spacing-0: 0;
$spacing-1: rem(4);
$spacing-2: rem(8);
$spacing-3: rem(16);
$spacing-4: rem(24);
$spacing-5: rem(32);
$spacing-6: rem(48);
$spacing-7: rem(64);
$spacing-8: rem(96);

$spacing: (
  0: $spacing-0,
  1: $spacing-1,
  2: $spacing-2,
  3: $spacing-3,
  4: $spacing-4,
  5: $spacing-5,
  6: $spacing-6,
  7: $spacing-7,
  8: $spacing-8
);

////
/// Colors
////

// @todo all these variables need better names

$navy-light: #174872;
$navy: #0d395f;
$navy-dark: #022543;

$blue-light: #97bbd5;
$blue-lighter: #e5f1fa;

$green-dark: #1a8574;
$green: #1f9f8b;
$green-light: #23b39c;

$teal: #017c9f;

// shades
$white: #fff;
$black: #202020;

// grays
$gray: #767676;
$gray-light: #dedede;
$gray-lighter: #f8f8f8;

// util colors
$danger: #dc3545;
$info: $blue-lighter;
$warning: #ffc107;
$success: #5e7d31;

// brand colors
$brand-primary: $navy;
$brand-primary-dark: $navy-dark;
$brand-secondary: $green;
$brand-secondary-dark: $green-dark;

////
/// Typography
////

// font families
$font-family-sans-serif: (
  'whitney ssm a',
  'whitney ssm b',
  Tahoma,
  Geneva,
  sans-serif
);

// prettier-ignore
$font-family-serif: (
  'sentinel ssm a',
  'sentinel ssm b',
  georgia,
  serif
);

// type scale
$typescale-1: rem(12);
$typescale-2: rem(14);
$typescale-3: rem(16);
$typescale-4: rem(18);
$typescale-5: rem(20);
$typescale-6: rem(24);
$typescale-7: rem(28);
$typescale-8: rem(36);

$typescale: (
  1: $typescale-1,
  2: $typescale-2,
  3: $typescale-3,
  4: $typescale-4,
  5: $typescale-5,
  6: $typescale-6,
  7: $typescale-7,
  8: $typescale-8
);

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// line heights
$line-height-solid: 1;
$line-height-heading: 1.4;
$line-height-lead: 1.6;
$line-height-body: 1.7;

$line-heights: (
  'body': $line-height-body,
  'heading': $line-height-heading,
  'lead': $line-height-lead,
  'solid': $line-height-solid
);

// Base
$font-size-base: 16px !default;
$line-height-base: $line-height-body !default;
$font-family-base: $font-family-sans-serif !default;

// Body
$body-bg: $white;
$body-color: $black;

// Border styles
$border-width: 1px;
$border-color: $gray-light;

////
/// Element styles
////

// Links
$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: $brand-primary;
$link-hover-decoration: underline;

// Headings
$headings-font-family: $font-family-serif;
$headings-font-weight: $font-weight-medium;
$headings-font-size: typescale(4);
$headings-line-height: lineheight('heading');
$headings-margin-bottom: 0;

$h1-font-size: typescale(8);
$h1-margin-top: 0;
$h1-margin-bottom: spacing(4);

$h2-font-size: typescale(7);
$h2-margin-top: spacing(6);
$h2-margin-bottom: spacing(3);

$h3-font-size: typescale(6);
$h3-margin-top: spacing(5);
$h3-margin-bottom: spacing(3);

$h4-font-size: typescale(5);
$h4-margin-top: spacing(4);
$h4-margin-bottom: spacing(1);

$h5-font-size: typescale(3);
$h5-margin-top: spacing(3);
$h5-margin-bottom: 0;

$h6-font-size: typescale(2);
$h6-margin-top: spacing(3);
$h6-margin-bottom: 0;

// Paragraphs
$paragraph-font-size: typescale(4);
$paragraph-line-height: lineheight('body');
$paragraph-margin-bottom: spacing(3);

////
/// Component variables
////

// Lead
$lead-font-size: typescale(5);
$lead-line-height: lineheight('lead');
$lead-margin-bottom: spacing(4);

// captions
$caption-font-size: typescale(2);
$caption-color: $gray;

// Shared buttons and forms styles
$input-btn-padding-y: spacing(2);
$input-btn-padding-x: spacing(3);
$input-btn-font-size: typescale(3);
$input-btn-line-height: lineheight('body');

$input-btn-border-width: $border-width;
$input-btn-border-color: $border-color;
$input-btn-border-radius: 0;

$input-btn-padding-y-sm: spacing(2);
$input-btn-padding-x-sm: spacing(3);
$input-btn-font-size-sm: typescale(2);

$input-btn-padding-y-lg: spacing(4);
$input-btn-padding-x-lg: spacing(4);
$input-btn-font-size-lg: typescale(4);

// Buttons

// base
$btn-bg: $white;
$btn-color: $black;

// primary
$btn-primary-bg: $brand-primary;
$btn-primary-color: $white;
$btn-primary-hover-bg: $brand-primary-dark;
$btn-primary-hover-color: $white;

// secondary
$btn-secondary-bg: $gray-light;
$btn-secondary-color: $brand-primary;
$btn-secondary-hover-bg: $green-light;
$btn-secondary-hover-color: $brand-primary;

// light
$btn-light-bg: $white;
$btn-light-color: $black;
$btn-light-hover-bg: $gray-light;
$btn-light-hover-color: $black;
$btn-light-outline-hover-bg: $white;
$btn-light-outline-hover-color: $brand-primary;

// button size default
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-line-height: $input-btn-line-height;
$btn-font-size: $input-btn-font-size;

// button size small
$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;

// button size large
$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;

// button border styles
$btn-border-width: $input-btn-border-width;
$btn-border-color: transparent;
$btn-border-radius: $input-btn-border-radius;

$btn-font-weight: $font-weight-normal;
$btn-disabled-opacity: 0.5;

$btn-transition: color 0.2s, background-color 0.2s;

// Forms

$label-font-size: typescale(2);
$label-font-weight: $font-weight-semibold;
$label-margin-bottom: spacing(2);

$form-group-margin-bottom: spacing(3);

// input size default
$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-y;
$input-line-height: $input-btn-line-height;
$input-font-size: $input-btn-font-size;

// input size small
$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;

// input size large
$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;

$input-bg: $white;
$input-disabled-bg: $gray-light;

$input-color: $black;
$input-border-color: $black;
$input-border-width: $input-btn-border-width;
$input-border-radius: $input-btn-border-radius;

$input-focus-bg: $input-bg;
$input-focus-border-color: $green-light;

// sections
$section-title-margin-bottom: spacing(4);

// component/D8 "Paragraphs"
$component-margin-bottom: spacing(7);

// lists
$list-item-margin-bottom: spacing(1);
$list-item-margin-bottom-md: spacing(2);
$list-item-margin-bottom-lg: spacing(3);
