@mixin media($bp) {
  @media (min-width: map-get($map: $grid-breakpoints, $key: $bp )) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
