// media-breakpoint-up aliasmixin media($bp) {
@mixin media($bp) {
  @include media-breakpoint-up($bp) {
    @content;
  }
}

@mixin link-border() {
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin section-title($margin-bottom: $section-title-margin-bottom) {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: $font-weight-medium;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: $margin-bottom;
}

@mixin break-words {
  word-break: break-word;
  hyphens: auto;
}
